{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10.15.0",
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}